aside
    each language, code in languages
        | &nbsp;
        if $code === $app->getSession()->get('language')
            b=language
        else
            a(href=path('language', [ 'language' => $code ]))=language
