extends layout/base

- textdomain("base");

block body
    .row: .col-xs-12
        .well
            = _("Hi all!")
        if user
            b=user.username
            | &nbsp;
            a.btn.btn-danger(href=logout_url())= _("Log out")
        else
            a.btn.btn-primary(href=path('fos_user_registration_register'))= _("Sign up")
            a.btn.btn-success(href=path('fos_user_security_login'))= _("Log in")
        #map
