body
    font-family sans-serif

aside
    float right

#main
    max-width 1000px
    margin auto

.well
    box-shadow none
    border none
    background #f8f8f8

#map
    overflow hidden
    .map
        margin auto
        padding 1px 1px 32px 1px
    .tile
        margin -1px -1px -16px -1px
        display block
        float left

    .map-row
        clear left

@media screen and (max-width: 640px)
    #map
        max-height 300px